<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/all_dump</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <mapping class="com.gstu.pda.entities.DetailsEntity"/>
        <mapping class="com.gstu.pda.entities.SortsEntity"/>
        <mapping class="com.gstu.pda.entities.TagsEntity"/>
        <mapping class="com.gstu.pda.entities.TypesEntity"/>
        <mapping class="com.gstu.pda.entities.UnitsEntity"/>
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>